<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PG Admissions Portal | IIT(BHU) Varanasi</title>

    <!-- core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/prettyPhoto.css" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
    <script src="/static/js/numeric.js"></script>
    <link rel="shortcut icon" href="/static/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/images/ico/apple-touch-icon-57-precomposed.png">

 <script>

var disc = new Array(12)
disc["Department of Ceramic Engineering"] = ["No Discipline "]; 
disc["Department of Chemical Engineering & Technology"] = ["No Discipline "]; 
disc["School of Biochemical Engineering"] = ["No Discipline "]; 
disc["School of Biomedical Engineering"] = ["No Discipline "]; 
disc["School of Materials Science & Technology"] = ["No Discipline "]; 

disc["Department of Civil Engineering"] = ["HYDRAULICS AND WATER RESOURCES ENGINEERING",
"GEOTECHNICAL ENGINEERING", "STRUCTURAL ENGINEERING","ENVIRONMENTAL ENGINEERING","TRANSPORTATION ENGINEERING","NA"];
disc["Department of Electrical Engineering"] = ["POWER SYSTEMS", "ELECTRICAL MACHINES AND DRIVES", "CONTROL SYSTEMS", "POWER ELECTRONICS","NA"];
disc["Department of Electronics Engineering"] = ["MICROWAVE ENGINEERING", "DIGITAL TECHNIQUES AND INSTRUMENTATION", "MICROELECTRONICS", "COMMUNICATION SYSTEM ENGINEERING","NA"];
disc["Department of Mechanical Engineering"]= ["MACHINE DESIGN", "THERMAL AND FLUID ENGINEERING", "PRODUCTION ENGINEERING","NA"];
disc["Department of Metallurgical Engineering"]= ["EXTRACTIVE METALLURGY", "ALLOY TECHNOLOGY","NA"];
disc["Department of Mining Engineering"]= ["MINE ENVIRONMENT", "ROCK MECHANICS", "MINE PLANNING","NA"];
disc["Department of Pharmaceutics"]= ["PHARMACEUTICS", "PHARMACEUTICAL CHEMISTRY", "PHARMACOLOGY", "PHARMACOGNOSY","NA"];

function getdept()
{
	
	var cSelect = document.getElementById("dept1");
	var len=cSelect.options.length; 
	while (cSelect.options.length > 0)
	{ cSelect.remove(0); }

	var newOption; 

        if(document.phdform.pg_program.value=="M.Tech")
	{
	 	
	
		 newOption = document.createElement("option"); 
		 newOption.value = "Department of Ceramic Engineering";  
		 newOption.text = "Department of Ceramic Engineering"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }

		newOption = document.createElement("option"); 
		 newOption.value = "Department of Chemical Engineering & Technology";  
		 newOption.text = "Department of Chemical Engineering & Technology"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }

		newOption = document.createElement("option"); 
		 newOption.value = "Department of Civil Engineering";  
		 newOption.text = "Department of Civil Engineering"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }

		newOption = document.createElement("option"); 
		 newOption.value = "Department of Electrical Engineering";  
		 newOption.text = "Department of Electrical Engineering"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }

		newOption = document.createElement("option"); 
		 newOption.value = "Department of Electronics Engineering";  
		 newOption.text = "Department of Electronics Engineering"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }
		newOption = document.createElement("option"); 
		 newOption.value = "Department of Mechanical Engineering";  
		 newOption.text = "Department of Mechanical Engineering"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }
		newOption = document.createElement("option"); 
		 newOption.value = "Department of Metallurgical Engineering";  
		 newOption.text = "Department of Metallurgical Engineering"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }
		newOption = document.createElement("option"); 
		 newOption.value = "Department of Mining Engineering";  
		 newOption.text = "Department of Mining Engineering"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }
		newOption = document.createElement("option"); 
		 newOption.value = "School of Biochemical Engineering";  
		 newOption.text = "School of Biochemical Engineering"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }
		newOption = document.createElement("option"); 
		 newOption.value = "School of Biomedical Engineering";  
		 newOption.text = "School of Biomedical Engineering"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }
		newOption = document.createElement("option"); 
		 newOption.value = "School of Materials Science & Technology";  
		 newOption.text = "School of Materials Science & Technology"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }


	}
	else if(document.phdform.pg_program.value=="M.Pharm")
	{
		newOption = document.createElement("option"); 
		newOption.value = "null";  
		newOption.text = "Select From List";
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }
	
		 newOption = document.createElement("option"); 
		 newOption.value = "Department of Pharmaceutics";  
		 newOption.text = "Department of Pharmaceutics"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }

	}
    	else
    	{
		newOption = document.createElement("option"); 
		newOption.value = "null";  
		newOption.text = "Select From The List"; 
		newOption = document.createElement("</option>"); 
        }
	try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }
}

function getdisc1(selectObj)
{

	var idx = selectObj.selectedIndex; 
 // get the value of the selected option 
 var which = selectObj.options[idx].value; 
 // use the selected option value to retrieve the list of items from the countryLists array 
 cList = disc[which]; 
 // get the country select element via its known id 
 var cSelect1 = document.getElementById("disc11"); 
 var cSelect2 = document.getElementById("disc12"); 
 var cSelect3 = document.getElementById("disc13"); 
 var cSelect4 = document.getElementById("disc14"); 
 // remove the current options from the country select 
// var len=cSelect.options.length; 
 while (cSelect1.options.length > 0) { cSelect1.remove(0);  } 
 while (cSelect2.options.length > 0) { cSelect2.remove(0);  }
 while (cSelect3.options.length > 0) { cSelect3.remove(0);  } 
 while (cSelect4.options.length > 0) { cSelect4.remove(0);  }  
 
 // create new options 
	 for (var i=0; i<cList.length; i++)
	 {
  	         var newOption;  
		 newOption = document.createElement("option"); 
		 newOption.value = cList[i];  
		 newOption.text=cList[i]; 
	 	try{ cSelect1.add(newOption); } catch (e){ cSelect1.appendChild(newOption); 
	 } }
	for (var i=0; i<cList.length; i++)
	 {
  	         var newOption;  
		 newOption = document.createElement("option"); 
		 newOption.value = cList[i];  
		 newOption.text=cList[i]; 
	 	try{ cSelect2.add(newOption); } catch (e){ cSelect2.appendChild(newOption); 
	 } }
	for (var i=0; i<cList.length; i++)
	 {
  	         var newOption;  
		 newOption = document.createElement("option"); 
		 newOption.value = cList[i];  
		 newOption.text=cList[i]; 
	 	try{ cSelect3.add(newOption); } catch (e){ cSelect3.appendChild(newOption); 
	 } }
	for (var i=0; i<cList.length; i++)
	 {
  	         var newOption;  
		 newOption = document.createElement("option"); 
		 newOption.value = cList[i];  
		 newOption.text=cList[i]; 
	 	try{ cSelect4.add(newOption); } catch (e){ cSelect4.appendChild(newOption); 
	 } } 
 }         
	



function choiceprg2()
{
        if(document.phdform.pg_program_select1.value=="Yes")
	{
		document.getElementById('divprg2').style.display = "block";
	}
	else
	{
    		document.getElementById('divprg2').style.display = "none";
	}
}

function getdept2()
{
	
	var cSelect = document.getElementById("dept2");
	var len=cSelect.options.length; 
	while (cSelect.options.length > 0)
	{ cSelect.remove(0); }

	var newOption; 

        if(document.phdform.pg_program2.value=="M.Tech")
	{
	 	newOption = document.createElement("option"); 
		newOption.value = "null";  
		newOption.text = "Select From List";
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }
	
		 newOption = document.createElement("option"); 
		 newOption.value = "Department of Ceramic Engineering";  
		 newOption.text = "Department of Ceramic Engineering"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }

		newOption = document.createElement("option"); 
		 newOption.value = "Department of Chemical Engineering & Technology";  
		 newOption.text = "Department of Chemical Engineering & Technology"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }

		newOption = document.createElement("option"); 
		 newOption.value = "Department of Civil Engineering";  
		 newOption.text = "Department of Civil Engineering"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }

		newOption = document.createElement("option"); 
		 newOption.value = "Department of Electrical Engineering";  
		 newOption.text = "Department of Electrical Engineering"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }

		newOption = document.createElement("option"); 
		 newOption.value = "Department of Electronics Engineering";  
		 newOption.text = "Department of Electronics Engineering"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }
		newOption = document.createElement("option"); 
		 newOption.value = "Department of Mechanical Engineering";  
		 newOption.text = "Department of Mechanical Engineering"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }
		newOption = document.createElement("option"); 
		 newOption.value = "Department of Metallurgical Engineering";  
		 newOption.text = "Department of Metallurgical Engineering"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }
		newOption = document.createElement("option"); 
		 newOption.value = "Department of Mining Engineering";  
		 newOption.text = "Department of Mining Engineering"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }
		newOption = document.createElement("option"); 
		 newOption.value = "School of Biochemical Engineering";  
		 newOption.text = "School of Biochemical Engineering"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }
		newOption = document.createElement("option"); 
		 newOption.value = "School of Biomedical Engineering";  
		 newOption.text = "School of Biomedical Engineering"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }
		newOption = document.createElement("option"); 
		 newOption.value = "School of Materials Science & Technology";  
		 newOption.text = "School of Materials Science & Technology"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }


	}
	else if(document.phdform.pg_program2.value=="M.Pharm")
	{
		newOption = document.createElement("option"); 
		newOption.value = "null";  
		newOption.text = "Select From List";
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }
	
		 newOption = document.createElement("option"); 
		 newOption.value = "Department of Pharmaceutics";  
		 newOption.text = "Department of Pharmaceutics"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }

	}
    	else
    	{
		newOption = document.createElement("option"); 
		newOption.value = "null";  
		newOption.text = "Select From The List"; 
		newOption = document.createElement("</option>"); 
        }
	try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }
}

function getdisc2(selectObj)
{

	var idx = selectObj.selectedIndex; 
 // get the value of the selected option 
 var which = selectObj.options[idx].value; 
 // use the selected option value to retrieve the list of items from the countryLists array 
 cList = disc[which]; 
 // get the country select element via its known id 
 var cSelect1 = document.getElementById("disc21"); 
 var cSelect2 = document.getElementById("disc22"); 
 var cSelect3 = document.getElementById("disc23"); 
 var cSelect4 = document.getElementById("disc24"); 
 // remove the current options from the country select 
// var len=cSelect.options.length; 
 while (cSelect1.options.length > 0) { cSelect1.remove(0);  } 
 while (cSelect2.options.length > 0) { cSelect2.remove(0);  }
 while (cSelect3.options.length > 0) { cSelect3.remove(0);  } 
 while (cSelect4.options.length > 0) { cSelect4.remove(0);  }  

 	
 // create new options 
	 for (var i=0; i<cList.length; i++)
	 {
  	         var newOption;  
		 newOption = document.createElement("option"); 
		 newOption.value = cList[i];  
		 newOption.text=cList[i]; 
	 	try{ cSelect1.add(newOption); } catch (e){ cSelect1.appendChild(newOption); 
	 } }
	for (var i=0; i<cList.length; i++)
	 {
  	         var newOption;  
		 newOption = document.createElement("option"); 
		 newOption.value = cList[i];  
		 newOption.text=cList[i]; 
	 	try{ cSelect2.add(newOption); } catch (e){ cSelect2.appendChild(newOption); 
	 } }
	for (var i=0; i<cList.length; i++)
	 {
  	         var newOption;  
		 newOption = document.createElement("option"); 
		 newOption.value = cList[i];  
		 newOption.text=cList[i]; 
	 	try{ cSelect3.add(newOption); } catch (e){ cSelect3.appendChild(newOption); 
	 } }
	for (var i=0; i<cList.length; i++)
	 {
  	         var newOption;  
		 newOption = document.createElement("option"); 
		 newOption.value = cList[i];  
		 newOption.text=cList[i]; 
	 	try{ cSelect4.add(newOption); } catch (e){ cSelect4.appendChild(newOption); 
	 } } 
 }         
	


function choiceprg3()
{
        if(document.phdform.pg_program_select2.value=="Yes")
		{
			document.getElementById('divprg3').style.display = "block";
		}
		else
    	{
    	    document.getElementById('divprg3').style.display = "none";
        }
}


function getdept3()
{
	
	var cSelect = document.getElementById("dept3");
	var len=cSelect.options.length; 
	while (cSelect.options.length > 0)
	{ cSelect.remove(0); }

	var newOption; 

        if(document.phdform.pg_program3.value=="M.Tech")
	{
	 	newOption = document.createElement("option"); 
		newOption.value = "null";  
		newOption.text = "Select From List";
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }
	
		 newOption = document.createElement("option"); 
		 newOption.value = "Department of Ceramic Engineering";  
		 newOption.text = "Department of Ceramic Engineering"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }

		newOption = document.createElement("option"); 
		 newOption.value = "Department of Chemical Engineering & Technology";  
		 newOption.text = "Department of Chemical Engineering & Technology"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }

		newOption = document.createElement("option"); 
		 newOption.value = "Department of Civil Engineering";  
		 newOption.text = "Department of Civil Engineering"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }

		newOption = document.createElement("option"); 
		 newOption.value = "Department of Electrical Engineering";  
		 newOption.text = "Department of Electrical Engineering"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }

		newOption = document.createElement("option"); 
		 newOption.value = "Department of Electronics Engineering";  
		 newOption.text = "Department of Electronics Engineering"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }
		newOption = document.createElement("option"); 
		 newOption.value = "Department of Mechanical Engineering";  
		 newOption.text = "Department of Mechanical Engineering"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }
		newOption = document.createElement("option"); 
		 newOption.value = "Department of Metallurgical Engineering";  
		 newOption.text = "Department of Metallurgical Engineering"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }
		newOption = document.createElement("option"); 
		 newOption.value = "Department of Mining Engineering";  
		 newOption.text = "Department of Mining Engineering"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }
		newOption = document.createElement("option"); 
		 newOption.value = "School of Biochemical Engineering";  
		 newOption.text = "School of Biochemical Engineering"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }
		newOption = document.createElement("option"); 
		 newOption.value = "School of Biomedical Engineering";  
		 newOption.text = "School of Biomedical Engineering"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }
		newOption = document.createElement("option"); 
		 newOption.value = "School of Materials Science & Technology";  
		 newOption.text = "School of Materials Science & Technology"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }


	}
	else if(document.phdform.pg_program3.value=="M.Pharm")
	{
		newOption = document.createElement("option"); 
		newOption.value = "null";  
		newOption.text = "Select From List";
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }
	
		 newOption = document.createElement("option"); 
		 newOption.value = "Department of Pharmaceutics";  
		 newOption.text = "Department of Pharmaceutics"; 	
		try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }

	}
    	else
    	{
		newOption = document.createElement("option"); 
		newOption.value = "null";  
		newOption.text = "Select From The List"; 
		newOption = document.createElement("</option>"); 
        }
	try{cSelect.add(newOption); }catch (e) {  cSelect.appendChild(newOption); }
}

function getdisc3(selectObj)
{

	var idx = selectObj.selectedIndex; 
 // get the value of the selected option 
 var which = selectObj.options[idx].value; 
 // use the selected option value to retrieve the list of items from the countryLists array 
 cList = disc[which]; 
 // get the country select element via its known id 
 var cSelect1 = document.getElementById("disc31"); 
 var cSelect2 = document.getElementById("disc32"); 
 var cSelect3 = document.getElementById("disc33"); 
 var cSelect4 = document.getElementById("disc34"); 
 // remove the current options from the country select 
// var len=cSelect.options.length; 
 while (cSelect1.options.length > 0) { cSelect1.remove(0);  } 
 while (cSelect2.options.length > 0) { cSelect2.remove(0);  }
 while (cSelect3.options.length > 0) { cSelect3.remove(0);  } 
 while (cSelect4.options.length > 0) { cSelect4.remove(0);  }  
 
 // create new options 
	 for (var i=0; i<cList.length; i++)
	 {
  	         var newOption;  
		 newOption = document.createElement("option"); 
		 newOption.value = cList[i];  
		 newOption.text=cList[i]; 
	 	try{ cSelect1.add(newOption); } catch (e){ cSelect1.appendChild(newOption); 
	 } }
	for (var i=0; i<cList.length; i++)
	 {
  	         var newOption;  
		 newOption = document.createElement("option"); 
		 newOption.value = cList[i];  
		 newOption.text=cList[i]; 
	 	try{ cSelect2.add(newOption); } catch (e){ cSelect2.appendChild(newOption); 
	 } }
	for (var i=0; i<cList.length; i++)
	 {
  	         var newOption;  
		 newOption = document.createElement("option"); 
		 newOption.value = cList[i];  
		 newOption.text=cList[i]; 
	 	try{ cSelect3.add(newOption); } catch (e){ cSelect3.appendChild(newOption); 
	 } }
	for (var i=0; i<cList.length; i++)
	 {
  	         var newOption;  
		 newOption = document.createElement("option"); 
		 newOption.value = cList[i];  
		 newOption.text=cList[i]; 
	 	try{ cSelect4.add(newOption); } catch (e){ cSelect4.appendChild(newOption); 
	 } } 
 }  




</script>
</head><!--/head-->

<body>

    <header id="header">

       <div class="container">
  <div class="row">
      <div class="col-sm-4"><img src="/static/images/blank.png" style="height: 120px;width: 1000px;left-margin: 0px" align="center" /></div>
  </div>
      </div>
<div>

</div>
    </header><!--/header-->
    <h2 align="center">PG Admissions Application Form</h2>
    <div class="container">
<h1>Registration Form</h1>{% if user.is_authenticated %}<div class="container>"> <p align="right">Application ID :<b> {{ request.user.username }}</b><br>Click here to <a href="/register/logout/">Logout</a> </div>{% endif %}

    <div class="container">
        <fieldset>
            <legend >Personal Information :</legend>
            <div class="row">
            <label for="full_name" class="col-sm-2">Full Name : </label>
            <div class="col-xs-4">{{ user_data.full_name }}</div>
                </div>
            <div class="row">
            <label for="mother_name" class="col-sm-2">Mother Name : </label>
            <div class="col-xs-4">{{ user_data.mother_name }}</div>
                </div>
            <div class="row">
            <label for="father_name" class="col-sm-2">Father Name : </label>
            <div class="col-xs-4">{{ user_data.father_name }}</div>
                </div>
            <div class="row">
            <label for="dob" class="col-sm-2">Date of Birth : </label>
            <div class="col-xs-4">{{ user_data.dob }}</div>
                <label for="gender" class="col-sm-2">Gender : </label>
                <div class="col-xs-2">{{ user_data.gender }} </div>
                </div>
            <div class="row">
            <label for="nation" class="col-sm-2">Nationality : </label>
            <div class="col-xs-4">{{ user_data.nation }}</div>
                <label for="category" class="col-sm-2">Category : </label>
                <div class="col-xs-2">{{ user_data.category }} </div>
                </div>
            <div class="row">
            <label for="phys" class="col-sm-2">Physical disability status : </label>
            <div class="col-xs-4">{{ user_data.phys }}</div>
                <label for="mobile" class="col-sm-2">Mobile No. : </label>
                <div class="col-xs-2">{{ user_data.mobile }} </div>
                </div>
            <div class="row">
            <label for="perma_addr" class="col-sm-2">Permanent Address : </label>
            <div class="col-xs-4">{{ user_data.perma_addr }}</div>
                <label for="corres_addr" class="col-sm-2">Address for Correspondence : </label>
                <div class="col-xs-2">{{ user_data.corres_addr }} </div>
                </div>
        </fieldset>
    </div>
        <div class="container" style="background-color:#AEC8D2;">
        <p>
            <b style="color: red;">Note : </b>Applicants should refer the information brochure and corrigendum before start filling the online application form. All fields are mandatory. Write NA in fields which are not

applicable to you.
        </p>

</div>
    <form action="/register/pg/" name="phdform" method="POST" enctype="multipart/form-data" class="form-horizontal" role="form">{% csrf_token %}
        <div class="container" style="background-color:#AEC8D2;">
        <p>
            <b style="color: black;"> Instructions for Payment :</b>Pay the application processing fee online (<a href="www.onlinesbi.com/prelogin/icollecthome.htm"> www.onlinesbi.com/prelogin/icollecthome.htm</a>) and enter the e-receipt details. The application processing fee (Rs.500.00 for GEN/OBC/PC candidates and Rs. 250.00 for SC/ST candidates) should be paid ONLINE ONLY and is NON-REFUNDABLE.
        </p>

</div>
        <fieldset>
            <legend>Application processing fee</legend>
            <div class="form-group">
        <label for="amount" class="control-label col-sm-2">Amount to be paid : </label>
        {% if user_data.category == "GEN" or "OBC" %}
                <div class="col-xs-5">
        <input type="text" name="amt" size="20" value="500" readonly/>
        {% else %}
        <input type="text" name="amt" size="20" value="250" readonly/>
        {% endif %}</div></div>
        <div class="form-group">
        <label for="ereceipt" class="control-label col-sm-2">E Receipt no. :</label>
            <div class="col-xs-5">
<!--        <input type="text" name="ereceipt" size="20" value=123"{{ user_data.ereceipt }}" required/> -->
        <input type="text" name="ereceipt" size="20" value='{{ user_data.ereceipt}}' required />
            </div></div>
        <div class="form-group">
        <label for="dop" class="control-label col-sm-2">Date of Payment :</label>
            <div class="col-xs-2">
<!--        <input type="date" name="dop"  size="20" value="{{ user_data.dop }}" required/> -->
<input type="date" name="dop"  size="20" value={{ user_data.dop }} required/>
            </div></div>
        </fieldset>

<div class="container" style="background-color:#AEC8D2;">
        <p>
            <b style="color: black;"> Department/School Selection :</b>
            Note-1:Before selecting the choice of Ph.D. Programme, applicants are advised to refer to the information brochure (Table 1B, Page No.13) for the seats available in each departments/schools.
(Refer to the Information Brochure for the list of programmes/disciplines/specializations if any and number of seats available in various Departments/Schools)
Note-2:There are no Institute Assistantship available in discipline BC,EC,MS,PH & PY (Annexure-I).
Applicants who wish to apply to these discipline , are advized to contact the concerned departments before applying/submitting the applications. Candidates applying to these discipline should have external fellowship.
         </p>
</div>
        <fieldset >
            <legend>PG Application Form </legend>
        <div class="form-group">
            	<label for="std_status" class="control-label col-sm-2">Student Status : </label>
                <div class="col-xs-5">
                    <select name="sstatus" id="std_status" required>
                            <option value="null" selected="selected">Select From The List</option>
                            <option value="Full-Time  Regular"{% if user_data.sstatus == "Full-Time  Regular" %} selected="selected" {% endif %}> Full-Time  Regular</option>
                            <option value="Full-time Sponsored"{% if user_data.sstatus == "Full-time Sponsored" %} selected="selected" {% endif %}>Full-time Sponsored</option>
                            <option value="Part-Time"{% if user_data.sstatus == "Part-Time" %} selected="selected" {% endif %}>Part-Time</option>
                            <option value="External Registration"{% if user_data.sstatus == "External Registration" %} selected="selected" {% endif %}>External Registration</option>
                    </select>
                </div>
         	</div>

            <div class="form-group">
            	<label for="fin_status" class="control-label col-sm-2">Financial Status : </label>
                    <div class="col-xs-5" >
                        <select name="fstatus" id="fin_status" required>
                                <option value="null" selected="selected">Select From The List</option>
                                <option value="Institute Assistantship Required"{% if user_data.fstatus == "Institute Assistantship Required" %} selected="selected" {% endif %} >Institute Assistantship Required</option>
                                <option value="Awarded External Fellowship"{% if user_data.fstatus == "Awarded External Fellowship" %} selected="selected" {% endif %}>Awarded External Fellowship</option>
                                <option value="External Registration"{% if user_data.fstatus == "External Registration" %} selected="selected" {% endif %}>External Registration</option>
                        </select>
                    </div>
            </div>

           <div class="form-group">
                <label for="pg_program" class="control-label col-sm-2"> Select the Primary Programme you are applying for (Compulsory) : </label>
                    <div class="col-xs-5" >
                        <select name="pg_program" id="pg_program" onchange="getdept()" required>
				<option value="null" selected="selected">Select From The List</option>
                                <option value="M.Tech"{% if user_data.pg_program1 == "M.Tech" %} selected="selected" {% endif %}>M.Tech</option>
                                <option value="M.Pharm"{% if user_data.pg_program1 == "M.Pharm" %} selected="selected" {% endif %}>M.Pharm</option>
                       </select>
                    </div>
            </div>
        <div class="form-group" id="divmtechdept" >
                <label for="mtechdept1" class="control-label col-sm-2"> Select the Department/School:</label>
                <div class="col-xs-5" >
                        <select name="dept1" id="dept1" onchange="getdisc1(this)" required>
			<option value="null" selected="selected">Select From The List</option>
             <option value= "{{ user_data.dept1 }}" selected="selected" >{{ user_data.dept1 }}</option>

		      </select>
                    </div>
           </div>
      
  	<div class="form-group">
		<label for="disc" class="control-label col-sm-2">Select the Discipline1:(Wherever 				Applicable):</label>
	   <div class="col-xs-5" > <select name="disc11" id="disc11" > 
		<option value="null" selected="selected">Select From The List</option>
           <option value= {{ user_data.disc11 }} selected="selected" >{{ user_data.disc11 }}</option>
	 </select> </div>
	</div>

<div class="form-group">
		<label for="disc12" class="control-label col-sm-2">Select the Discipline2:(Wherever 				Applicable):</label>
	   <div class="col-xs-5" > <select name="disc12" id="disc12" >
		<option value="null" selected="selected">Select From The List</option>
           <option value= {{ user_data.disc12 }} selected="selected" >{{ user_data.disc12 }}</option>
	  </select> </div>
	</div>

<div class="form-group">
		<label for="disc13" class="control-label col-sm-2">Select the Discipline3:(Wherever 				Applicable):</label>
	   <div class="col-xs-5" > <select name="disc13" id="disc13" >
		<option value="null" selected="selected">Select From The List</option>
           <option value= {{ user_data.disc13 }} selected="selected" >{{ user_data.disc13 }}</option>
	  </select> </div>
	</div>

<div class="form-group">
		<label for="disc14" class="control-label col-sm-2">Select the Discipline4:(Wherever 				Applicable):</label>
	   <div class="col-xs-5" > <select name="disc14" id="disc14" > 
		<option value="null" selected="selected">Select From The List</option>
           <option value= {{ user_data.disc14 }} selected="selected" >{{ user_data.disc14 }}</option>
		 </select> </div>
	</div>

     <div class="container" style="background-color:#AEC8D2;">
        <p>
            <b style="color: black;"> Would you like to apply for additional Department/School? If yes, then select the Department, and Dicipline if any, from the list provided below. :</b><br>
            Note-:(Please refer the information brochure for the eligibility criteria for applying for additional programmes.)
         </p>
    </div>

        <div class="form-group">
            <label for="dept2" class="control-label col-sm-2"> Select the Choice1:</label>
            <div class="col-xs-5">
                <select name="pg_program_select1" id="pg_program_select1" onchange="choiceprg2()" >
                    <option value="null" selected="selected">Select From The List</option>
                    	<option value="Yes"{% if user_data.pg_program_select1 == "Yes" %} selected="selected" {% endif %}>Yes</option>
                    	<option value="No"{% if user_data.pg_program_select1 == "No" %} selected="selected" {% endif %}>No</option>
                </select>
            </div>

        </div>

       <div class="form-group" id="divprg2" hidden>
         <div class="form-group">
                <label for="pg_program" class="control-label col-sm-2"> Select the Primary Programme you are applying for (Optional) : </label>
                    <div class="col-xs-5" >
                        <select name="pg_program2" id="pg_program2" onchange="getdept2()" >
                                <option value="null" selected="selected">Select From The List</option>
                                <option value="M.Tech"{% if user_data.pg_program2 == "M.Tech" %} selected="selected" {% endif %}>M.Tech</option>
                                <option value="M.Pharm"{% if user_data.pg_program2 == "M.Pharm" %} selected="selected" {% endif %}>M.Pharm</option>
                       </select>
                    </div>
            </div>


        <div class="form-group" id="divmtechdept2" >
                <label for="mtechdept1" class="control-label col-sm-2"> Select the Department/School:</label>
                <div class="col-xs-5" > <select name="dept2" id="dept2" onchange="getdisc2(this)" >
                            <option value="null" selected="selected">Select From The List</option>
                            <option value= "{{ user_data.dept2 }}" selected="selected" >{{ user_data.dept2 }}</option>
                        </select>
                    </div>
           </div>

           <div class="form-group" name="divdisc22" id="divdisc22" >
                 <div class="form-group">
                <label for="disc21" class="control-label col-sm-2">Select the Discipline1:(Wherever Applicable):</label>
                <div class="col-xs-5" ><select name="disc21" id="disc21" >
                    <option value="null" selected="selected">Select From The List</option>
                    <option value= {{ user_data.disc22 }} selected="selected" >{{ user_data.disc21 }}</option>
	                </select>
                            </div></div>

                 <div class="form-group">
<label for="disc22" class="control-label col-sm-2">Select the Discipline2:(Wherever Applicable):</label>
         <div class="col-xs-5" ><select name="disc22" id="disc22" >
			<option value="null" selected="selected">Select From The List</option>
             <option value= {{ user_data.disc23 }} selected="selected" >{{ user_data.disc22 }}</option>
	</select> </div></div>

<div class="form-group">
<label for="disc23" class="control-label col-sm-2">Select the Discipline3:(Wherever Applicable):</label>
      <div class="col-xs-5" ><select name="disc23" id="disc23">
		<option value="null" selected="selected">Select From The List</option>
          <option value= {{ user_data.disc24 }} selected="selected" >{{ user_data.disc23 }}</option>
	 </select> 
			
	</div></div>

           <div class="form-group">
<label for="disc24" class="control-label col-sm-2">Select the Discipline4:(Wherever Applicable):</label>
     <div class="col-xs-5" > <select name="disc24" id="disc24" >
		<option value="null" selected="selected">Select From The List</option>
             <option value= {{ user_data.disc24 }} selected="selected" >{{ user_data.disc24 }}</option>
	 </select> </div></div>
            </div> 

            
            </div>

            <!-- choice 3 rd -->

             <div class="form-group">
            <label for="prg3" class="control-label col-sm-2"> Select the Choice2:</label>
            <div class="col-xs-5">
                <select name="pg_program_select2" id="pg_program_select2" onchange="choiceprg3()" >
                    <option value="null" selected="selected">Select From The List</option>
                    	<option value="Yes"{% if user_data.pg_program_select2 == "Yes" %} selected="selected" {% endif %}>Yes</option>
                    	<option value="No"{% if user_data.pg_program_select2 == "No" %} selected="selected" {% endif %}>No</option>
                </select>
            </div>

        </div>

       <div class="form-group" id="divprg3" hidden>
         <div class="form-group">
                <label for="pg_program" class="control-label col-sm-2"> Select the Primary Programme you are applying for (Optional) : </label>
                    <div class="col-xs-5" >
                        <select name="pg_program3" id="pg_program3" onchange="getdept3()" >
                                <option value="null" selected="selected">Select From The List</option>
                                <option value="M.Tech"{% if user_data.pg_program3 == "M.Tech" %} selected="selected" {% endif %}>M.Tech</option>
                                <option value="M.Pharm"{% if user_data.pg_program3 == "M.Pharm" %} selected="selected" {% endif %}>M.Pharm</option>
                       </select>
                    </div>
            </div>
        <div class="form-group" id="divmtechdept3" >
            <label for="mtechdept1" class="control-label col-sm-2"> Select the Department/School:</label>
                <div class="col-xs-5" >
                    <select name="dept3" id="dept3" onchange="getdisc3(this)">
			<option value="null" selected="selected">Select From The List</option>
                        <option value= "{{ user_data.dept3 }}" selected="selected" >{{ user_data.dept3 }}</option>
		 </select>
                    </div>
           </div>

           <div class="form-group" id="divmpharmdept3" >

                
         <div class="form-group" name="divdisc31" id="divdisc31" >
             <div class="form-group"><label for="pharmdisc31" class="control-label col-sm-2">Select the Discipline1:(Wherever Applicable):</label>
                     <div class="col-xs-5" >
                        <select name="disc31" id="disc31" >
                            <option value="null" selected="selected">Select From The List</option>
                            <option value= {{ user_data.disc31 }} selected="selected" >{{ user_data.disc31 }}</option>
                        </select> </div></div>


                 <div class="form-group"><label for="pharmdisc32" class="control-label col-sm-2">Select the Discipline2:(Wherever Applicable):</label>
                    <div class="col-xs-5" >
                <select name="disc32" id="disc32" >
                    <option value="null" selected="selected">Select From The List</option>
                    <option value= {{ user_data.disc32 }} selected="selected" >{{ user_data.disc32 }}</option>
                </select> </div></div>

                 <div class="form-group"><label for="pharmdisc33" class="control-label col-sm-2">Select the Discipline3:(Wherever Applicable):</label>
                    <div class="col-xs-5" >
           <select name="disc33" id="disc33" >
               <option value="null" selected="selected">Select From The List</option>
               <option value= {{ user_data.disc33 }} selected="selected" >{{ user_data.disc33 }}</option>
                </select> </div></div>

                 <div class="form-group"> <label for="pharmdisc34" class="control-label col-sm-2">Select the Discipline4:(Wherever Applicable):</label>
                    <div class="col-xs-5" >
           <select name="disc34" id="disc34" >
               <option value="null" selected="selected">Select From The List</option>
               <option value= {{ user_data.disc34 }} selected="selected" >{{ user_data.disc34 }}</option>
           </select> </div></div>
            </div> </div>

            
            </div>
         
        </fieldset>

        <div class="container" style="background-color:#AEC8D2;">
        <p>
            <b style="color: black;">Whether qualified GATE/GPAT/UGC-CSIR/NET or any other fellowship exam:</b><br>
            Note-1: For P.hD. Programmes GATE/GPAT/CSIR/NET Qualify is mandatory for Institute assistantship.<br>
            Note-2: Btech/B.Pharm/Mtech/MPharm graduates from IIT having a CPI or CGPA of 8.0 and above in a 10 point scale are exempted from GATE/GPAT /UGC-CSIR/NET and eligible for Institute assistantship.
         </p>
    </div>

        <fieldset>
            <legend>Qualifying Entrance Examination details</legend>
            <div class="form-group">
                <label for="gatestatus" class="control-label col-sm-2">Choose the Appropriate Category of Examination:</label>
                <div class="col-xs-5">
                    <select name="gatestatus" id="gatestatus1" onchange = "examinationChange()" required>
                        <option value="null" selected="selected">Select From The List</option>
                        <option value="GATE/GPAT Exempted" {% if user_data.gate_status == "GATE/GPAT Exempted" %} selected="selected" {% endif %}>GATE/GPAT Exempted</option>
                        <option value="Gate/GPAT Qualified"{% if user_data.gate_status == "Gate/GPAT Qualified" %} selected="selected" {% endif %}>Gate/GPAT Qualified</option>
                        <option value="UGC-CSIR-NET Qualified"{% if user_data.gate_status == "UGC-CSIR-NET Qualified" %} selected="selected" {% endif %}>UGC-CSIR-NET Qualified</option>
                        <option value="Sponsored"{% if user_data.gate_status == "Sponsored*" %} selected="selected" {% endif %}>Sponsored*</option>
                        <option value="Other External Fellowships"{% if user_data.gate_status == "Other External Fellowships" %} selected="selected" {% endif %}>Other External Fellowships</option>
                    </select>
                </div>
            </div>



            <div id="check2" hidden>

                <div class="form-group"> <label for="gate_exam" class="control-label col-sm-2">Exam Name :</label>
                    <div class="col-xs-5">
                        <select name="gate_exam"  >
                            <option value="null" selected="selected">Select From The List</option>
                            <option value="GATE"{% if user_data.exam_name == "GATE" %} selected="selected" {% endif %}>GATE</option>
                            <option value="GPAT"{% if user_data.exam_name == "GPAT" %} selected="selected" {% endif %}>GPAT</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gate_roll" class="control-label col-sm-2">Exam Roll/Reg.No. :</label>
                    <div class="col-xs-5">  <input type="text" name="gate_roll" value="{{ user_data.exam_roll }}" size="20" /></div>
                </div>

                <div class="form-group">
                    <label for="gate_year" class="control-label col-sm-2">Exam Year : </label>
                    <div class="col-xs-5">
                        <input type="text" name="gate_year" value="{{ user_data.exam_year }}" size="20"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="gate_disc" class="control-label col-sm-2">Exam Discipline : </label>
                    <div class="col-xs-5">
                        <input type="text" name="gate_disc" value="{{ user_data.exam_disc }}" size="50" />
                    </div>
                </div>

                <div class="form-group"> <label for="gate_rank" class="control-label col-sm-2">Exam Rank : </label>
                    <div class="col-xs-5"> <input type="text" name="gate_rank" value="{{ user_data.exam_rank }}" size="20" /></div>
                </div>

                <div class="form-group"> <label for="gate_score" class="control-label col-sm-2">Exam Score : </label>
                    <div class="col-xs-5"> <input type="text" name="gate_score" value="{{ user_data.exam_score }}" size="20" /></div>
                </div>

                <div class="form-group"> <label for="score_card" class="control-label col-sm-2"> Scorecard :</label>
                    <div class="col-xs-5">{{ image_form.score_card }}</div>
                </div>
            </div>

            {% if user_data.gate_status == "GATE/GPAT Exempted" %}
                <script>
                    document.getElementById('check2').style.display = "block";
                </script>
            {% endif %}


            <div id="check3" hidden>

                <div class="form-group"> <label for="net_exam" class="control-label col-sm-2">Exam Name :</label>
                    <div class="col-xs-5">
                            <select name="net_exam"  >
                                <option value="null" selected="selected">Select From The List</option>
                                    <option value="UGC-NET"{% if user_data.exam_name == "UGC-NET" %} selected="selected" {% endif %}>UGC-NET</option>
                                    <option value="UGC-CSIR"{% if user_data.exam_exam == "UGC-CSIR" %} selected="selected" {% endif %}>UGC-CSIR</option>
                            </select>
                    </div>
                </div>

                <div class="form-group"> <label for="net_roll" class="control-label col-sm-2">Exam Roll/Reg.No. :</label>
                    <div class="col-xs-5">  <input type="text" name="net_roll" value="{{ user_data.exam_roll }}" size="20" /></div>
                </div>

                <div class="form-group"> <label for="net_year" class="control-label col-sm-2">Exam Year : </label>
                    <div class="col-xs-5"> <input type="text" name="net_year" value="{{ user_data.exam_disc }}" size="20" /></div>
                </div>

                <div class="form-group"> <label for="net_disc" class="control-label col-sm-2">Exam Discipline : </label>
                    <div class="col-xs-5"> <input type="text" name="net_disc" value="{{ user_data.exam_disc }}" size="50" /></div>
                </div>

                <div class="form-group"> <label for="net_rank" class="control-label col-sm-2">Exam Rank : </label>
                    <div class="col-xs-5"> <input type="text" name="net_rank" value="{{ user_data.exam_rank }}" size="20" /></div>
                </div>

                <div class="form-group"> <label for="net_score" class="control-label col-sm-2">Exam Score : </label>
                    <div class="col-xs-5"> <input type="text" name="net_score" value="{{ user_data.exam_score }}" size="20" /></div>
                </div>


            </div>

            {% if user_data.gate_status == "UGC-CSIR-NET Qualified" %}
                <script>
                    document.getElementById('check3').style.display = "block";
                </script>
            {% endif %}



            <div id="check4" hidden>
                <div class="form-group"> <label for="gate_exam" class="control-label col-sm-2">Details of Scholarship :</label>
                    <div class="col-xs-5">  <input type="text" name="detail_scholar" value="{{ user_data.detail_scholar }}" size="50" /></div>
                </div>

            </div>

            {% if user_data.gate_status == "Other External Fellowships" %}
                <script>
                    document.getElementById('check4').style.display = "block";
                </script>
            {% endif %}

        </fieldset>

        <fieldset>
            <legend>Qualifying Degree details : </legend>
            <div class="form-group"> <label for="status_deg" class="control-label col-sm-2">Degree : </label>
                <div class="col-xs-5"> 
			<select for="degree1" name="degree"  >
				<option value="null" selected="selected">Select From The List</option>
                                           <option  value="UG Degree" {% if user_data.degree == "UG Degree" %} selected="selected" {% endif %}>UG Degree</option>
                                           <option  value="PG Degree"{% if user_data.degree == "PG Degree" %} selected="selected" {% endif %}>PG Degree </option>
                                        </select>
                </div>
            </div>


            <div class="form-group"> <label for="status_deg" class="control-label col-sm-2">Degree Status : </label>
                <div class="col-xs-5">
                    <select for="status_deg" name="degree_status" >
			<option value="null" selected="selected">Select From The List</option>
                        <option name="Completed" value="Completed"{% if user_data.degree_status == "Completed" %} selected="selected" {% endif %}>Completed</option>
                        <option name="Appearing" value="Appearing"{% if user_data.degree_status == "Appearing" %} selected="selected" {% endif %}>Appearing</option>
                        <option name="Appeared" value="Appeared" {% if user_data.degree_status == "Appeared" %} selected="selected" {% endif %}>Appeared</option>
                     </select>
               </div>
            </div>


            <div class="form-group">
        <label for="quali_degree" class="control-label col-sm-2">Name of Degree : </label>
            <div class="col-xs-5">
        <input type="text" name="dname" value="{{ user_data.degree_name }}" size="50" />
            </div></div>

        <div class="form-group">
        <label for="univ_name" class="control-label col-sm-2">University Name : </label>
            <div class="col-xs-5">
        <input type="text" name="uname" value="{{ user_data.degree_uni }}" size="50" />
            </div></div>

        <div class="form-group">
        <label for="univ_name" class="control-label col-sm-2">Discipline : </label>
            <div class="col-xs-5">
        <input type="text" name="ddisc" value="{{ user_data.degree_disc }}" size="50" />
            </div></div>


        <div class="form-group">
        <label for="year_passing" class="control-label col-sm-2">Passing/Final Exam Year : </label>
            <div class="col-xs-5">
        <input type="text" name="dyear" value="{{ user_data.degree_year }}" size="20" />
            </div></div>


        <div class="form-group">
        <label for="aggre_per" class="control-label col-sm-2">Final/Aggregate Percentage or CGPA : </label>
            <div class="col-xs-5">
        <input type="text" name="dscore" value="{{ user_data.degree_score }}" size="20" />
            </div></div>

        </fieldset>

        <fieldset>
            <legend>Intermediate (+2) : </legend>

            <div class="form-group"> <label for="quali_degree" class="control-label col-sm-2">Name of Certificate : </label>
            <div class="col-xs-5"><input type="text" name="inter" value="{{ user_data.inter }}" size="50" />
            </div></div>

        <div class="form-group">
        <label for="univ_name" class="control-label col-sm-2">Name of Board : </label>
            <div class="col-xs-5">
        <input type="text" name="inter_board" value="{{ user_data.inter_board }}" size="50" />
            </div></div>

        <div class="form-group">
        <label for="univ_name" class="control-label col-sm-2">Subjects : </label>
            <div class="col-xs-5">
        <input type="text" name="inter_subject" value="{{ user_data.inter_subject }}" size="50" />
            </div></div>


        <div class="form-group">
        <label for="year_passing" class="control-label col-sm-2">Year of Passing : </label>
            <div class="col-xs-5">
        <input type="text" name="inter_year" value="{{ user_data.inter_year }}" size="20" />
            </div></div>


        <div class="form-group">
        <label for="aggre_per" class="control-label col-sm-2">Final Aggregate % or CGPA : </label>
            <div class="col-xs-5">
        <input type="text" name="inter_score" value="{{ user_data.inter_score }}" size="20" />
            </div></div>

        </fieldset>


        <fieldset>
            <legend>High School : </legend>

            <div class="form-group"> <label for="quali_degree" class="control-label col-sm-2">Name of Certificate : </label>
            <div class="col-xs-5"><input type="text" name="high" value="{{ user_data.high }}" size="50" />
            </div></div>

        <div class="form-group">
        <label for="univ_name" class="control-label col-sm-2">Name of Board : </label>
            <div class="col-xs-5">
        <input type="text" name="high_board" value="{{ user_data.high_board }}" size="50" />
            </div></div>

        <div class="form-group">
        <label for="univ_name" class="control-label col-sm-2">Subjects : </label>
            <div class="col-xs-5">
        <input type="text" name="high_subject" value="{{ user_data.high_subject }}" size="50" />
            </div></div>


        <div class="form-group">
        <label for="year_passing" class="control-label col-sm-2">Year of Passing : </label>
            <div class="col-xs-5">
        <input type="text" name="high_year" value="{{ user_data.high_year }}" size="20" />
            </div></div>


        <div class="form-group">
        <label for="aggre_per" class="control-label col-sm-2">Final Aggregate % or CGPA : </label>
            <div class="col-xs-5">
        <input type="text" name="high_score" value="{{ user_data.high_score }}" size="20" />
            </div></div>

        </fieldset>

        <fieldset>
            <legend>Work experience(If applying under sponsored category):</legend>
            <div class="form-group">
        <label for="work_exp" class="control-label col-sm-2">Work Experience : </label>
            <div class="col-xs-5">
        		{% if user_data.work_exp == "N" %}
                    <input name="work_exp" type="radio" id="wey" onchange="workshow()" value="Y" />Yes
                    <input name="work_exp" type="radio" id="wen" onchange="workshow()"  value="N" checked />No
                {% else %}
                    <input name="work_exp" type="radio" id="wey" onchange="workshow()" value="Y" checked/>Yes
                    <input name="work_exp" type="radio" id="wen" onchange="workshow()"  value="N"  />No
                {% endif %}
            </div></div>

        <div id="wdata">    
        <div class="form-group">
        <label for="period_from" class="control-label col-sm-2">Period From : </label>
            <div class="col-xs-2">
         <input type="month" name="period_from"  value="{{ user_data.period_from }}" size="20" />
            </div></div>
        <div class="form-group">
         <label for="period_to" class="control-label col-sm-2">Period To : </label>
            <div class="col-xs-2">
        <input type="month" name="period_to"  value="{{ user_data.period_to }}" size="20" />
            </div></div>
        <div class="form-group">
        <label for="work_org" class="control-label col-sm-2">Work Organization : </label>
            <div class="col-xs-5">
        <input type="text" name="work_org" size="50"  value="{{ user_data.work_org }}"/>
            </div></div>
        <div class="form-group">
        <label for="position" class="control-label col-sm-2">Position : </label>
            <div class="col-xs-5">
        <input type="text" name="position" size="50"  value="{{ user_data.position }}"/>
            </div></div>
        </div>
        </fieldset>



<div class="form-group">
    <input type="checkbox" id="checkes"/><b>Self Declaration</b>
    <p>I   declare  t hat   the  information  provided  by me  on  this  application  form  is  correct   to  the  best   of  my  knowledge  and  belief .   I  understand  that   any  wilful misinterpretation  of   facts  will  result  in my  disqualification  and  dismissal  from  the  Institute  if  admitted.</p>
</div>


<div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
        <input class="btn btn-default" type="submit" name="save" value="save"/>
        <button class="btn btn-default"><a href="/register/view_formpg/" target="_blank">View</a> </button>
        <input class="btn btn-default" type="submit" name="submit" value="Submit"/></div></div> </form>
        </div>

<script type="text/javascript">

    function workshow(){

        var r1 = document.getElementById("wey");
        var wdata = document.getElementById("wdata");
        // console.log(r1.checked);
        if(r1.checked)
            wdata.style.display = "block";
        else
            wdata.style.display = "none";
    }

    function pubshow(){

        var r1 = document.getElementById("pry");
        var wdata = document.getElementById("pubdata");
        // console.log(r1.checked);
        if(r1.checked)
            wdata.style.display = "block";
        else
            wdata.style.display = "none";
    }

    function examinationChange()
    {

        if(document.phdform.gatestatus.value=="GATE/GPAT Exempted")
		{
			document.getElementById('check2').style.display = "none";
			document.getElementById('check3').style.display = "none";
    		document.getElementById('check4').style.display = "none";

		}
		else if(document.phdform.gatestatus.value=="Sponsored")
		{

		    document.getElementById('check2').style.display = "none";
			document.getElementById('check3').style.display = "none";
        	document.getElementById('check4').style.display = "none";
        }
        else if(document.phdform.gatestatus.value=="Gate/GPAT Qualified")
		{

		    document.getElementById('check2').style.display = "block";
			document.getElementById('check3').style.display = "none";
        	document.getElementById('check4').style.display = "none";
        }
        else if(document.phdform.gatestatus.value=="UGC-CSIR-NET Qualified")
		{
		    document.getElementById('check2').style.display = "none";
			document.getElementById('check3').style.display = "block";
        	document.getElementById('check4').style.display = "none";
        }
        else if(document.phdform.gatestatus.value=="Other External Fellowships")
		{
		    document.getElementById('check2').style.display = "none";
			document.getElementById('check3').style.display = "none";
        	document.getElementById('check4').style.display = "block";
        }
    	else
    	{
    	    document.getElementById('check2').style.display = "none";
			document.getElementById('check3').style.display = "none";
        	document.getElementById('check4').style.display = "none";

        }

     }

</script>
</body>

</html>
